.edit-name-modal .modal-content {
    border-radius: 0;
    border: none;
    background: #fef9de;
}

.developer-name {
    color: #0079c5;
    font-weight: 800;
}

.edit-dev-button {
    margin: 0 5px 0 0;
    border: none;
    border-radius: 0;
    background: #0079c5;
    color: var(--third-color);
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 600;
}

.edit-dev-button:hover {
    outline: none;
}

.edit-dev-button:focus {
    outline: none;
}

.edit-dev-textarea {
    outline: none;
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #0079c5;
    background: var(--second-color);
    color: #0079c5;
    font-weight: 800;
    margin-bottom: 10px;
}