.modalParagraph {
  color: black;
}

.modalPiece {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.enterNewName {
  width: 435px;
}

@media (max-width: 1050px) {
  .enterNewName {
    width: 340px;
  }
}
