.modalParagraph {
  color: #000000;
}

.modalPiece {
  border: 1px solid #000000;
  padding: 5px;
  margin-bottom: 5px;
}

.enterNewName {
  width: 435px;
}

.developerSelector .custom-select {
  font-weight: bold;
}

@media (max-width: 1050px) {
  .enterNewName {
    width: 340px;
  }
}
