.game-block {
  --footer-content-height: 20px;
  border: 0px solid black;
  /*border-radius: .25rem;*/
  text-align: center;
  padding: 10px;
  margin: 1px 2px 1px 0;
  min-width: 150px;
  max-width: 250px;
  min-height: 85px;
}

.platforms {
  margin-left: 2px;
  height: var(--footer-content-height);
  width: 20px;
}

.gameName {
  min-height: 48px;
  display: block;
}

.releaseDate {
  line-height: var(--footer-content-height);
  padding: 0 2px;
  margin-right: 3px;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
}

.platformsBlock {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.gameBlockFooter {
  display: flex;
  justify-content: space-between;
}

.cardWrapper {
  display: flex;
}

.game-block_air-force-blue {
  background-color: var(--color-air-force-blue);
}

.game-block:hover {
  opacity: 0.8;
}

.game-block_alice-blue {
  background-color: var(--color-alice-blue);
}

.game-block_wistful {
  background-color: var(--color-wistful);
}

.game-block_ce-soir {
  background-color: var(--color-ce-soir);
}

.game-block_vivid-tangerine {
  background-color: var(--color-vivid-tangerine);
}

.game-block_sunset-orange {
  background-color: var(--color-sunset-orange);
}

.game-block_madang {
  background-color: var(--color-madang);
}

.game-block_emerald {
  background-color: var(--color-emerald);
}

.game-block_witch-haze {
  background-color: var(--color-witch-haze);
}

.game-block_yellow {
  background-color: var(--color-yellow);
}

.game-block_california {
  background-color: var(--color-california);
}

.game-block_burnt-orange {
  background-color: var(--color-burnt-orange);
}

.game-block_shakespeare {
  background-color: var(--color-shakespeare);
}

.game-block_malibu {
  background-color: var(--color-malibu);
}

.game-block_blue-chalk {
  background-color: var(--color-blue-chalk);
}

.game-block_light-wisteria {
  background-color: var(--color-light-wisteria);
}

.game-block_wax-flower {
  background-color: var(--color-wax-flower);
}

.game-block_soft-red {
  background-color: var(--color-soft-red);
}

.game-block_turquoise {
  background-color: var(--color-turquoise);
}

.game-block_jade {
  background-color: var(--color-jade);
}

.game-block_marigold-yellow {
  background-color: var(--color-marigold-yellow);
}

.game-block_orchid-white {
  background-color: var(--color-orchid-white);
}

.game-block_supernova {
  background-color: var(--color-supernova);
}

.game-block_cape-honey {
  background-color: var(--color-cape-honey);
}
