.gameBlock {
  --footer-content-height: 20px;
  border: none;
  text-align: center;
  padding: 10px;
  margin: 3px 4px 1px 0;
  min-width: 150px;
  max-width: 250px;
}

.platforms {
  margin-left: 2px;
  height: var(--footer-content-height);
  width: 20px;
}

.gameName {
  min-height: 48px;
  display: block;
}

.releaseDate {
  line-height: var(--footer-content-height);
  padding: 0 2px;
  margin-right: 3px;
  font-size: 15px;
  font-family: var(--date-font);
  border: 1px solid black;
}

.platformsBlock {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.gameBlockFooter {
  display: flex;
  justify-content: space-between;
}

.cardWrapper {
  display: flex;
}

.gameBlock_air-force-blue {
  background-color: var(--color-air-force-blue);
}

.gameBlock:hover {
  opacity: 0.8;
}

.gameBlock_alice-blue {
  background-color: var(--color-alice-blue);
}

.gameBlock_wistful {
  background-color: var(--color-wistful);
}

.gameBlock_ce-soir {
  background-color: var(--color-ce-soir);
}

.gameBlock_vivid-tangerine {
  background-color: var(--color-vivid-tangerine);
}

.gameBlock_sunset-orange {
  background-color: var(--color-sunset-orange);
}

.gameBlock_madang {
  background-color: var(--color-madang);
}

.gameBlock_emerald {
  background-color: var(--color-emerald);
}

.gameBlock_witch-haze {
  background-color: var(--color-witch-haze);
}

.gameBlock_yellow {
  background-color: var(--color-yellow);
}

.gameBlock_california {
  background-color: var(--color-california);
}

.gameBlock_burnt-orange {
  background-color: var(--color-burnt-orange);
}

.gameBlock_shakespeare {
  background-color: var(--color-shakespeare);
}

.gameBlock_malibu {
  background-color: var(--color-malibu);
}

.gameBlock_blue-chalk {
  background-color: var(--color-blue-chalk);
}

.gameBlock_light-wisteria {
  background-color: var(--color-light-wisteria);
}

.gameBlock_wax-flower {
  background-color: var(--color-wax-flower);
}

.gameBlock_soft-red {
  background-color: var(--color-soft-red);
}

.gameBlock_turquoise {
  background-color: var(--color-turquoise);
}

.gameBlock_jade {
  background-color: var(--color-jade);
}

.gameBlock_marigold-yellow {
  background-color: var(--color-marigold-yellow);
}

.gameBlock_orchid-white {
  background-color: var(--color-orchid-white);
}

.gameBlock_supernova {
  background-color: var(--color-supernova);
}

.gameBlock_cape-honey {
  background-color: var(--color-cape-honey);
}

@media (max-width: 450px) {
  .gameBlock {
    --footer-content-height: 20px;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 3px 4px 1px 0;
    min-width: 100%;
    max-width: 100%;
  }

  .gameBlockFooter {
    display: none;
  }
}
