.modal-header {
  border-bottom: 0;
}

.modal-title {
  color: var(--first-color);
  font-size: 31px;
  font-weight: 700;
}

.modal-footer {
  border-top: 0;
}

.message {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 23px;
  color: var(--first-color);
}

.messageWrapper {
  padding-left: 16px;
  padding-bottom: 5px;
}

.mainContent {
  background-color: var(--third-color);
}
