.profileWrapper {
  background-color: var(--first-color);
  padding: 10px 20px;
  min-height: calc(100vh - var(--content-gap));
}

.profileButtons {
  border-radius: 0;
  color: var(--first-color);
  background-color: var(--third-color);
  text-transform: uppercase;
  font-family: var(--titles-font);
  font-size: 21px;
  margin: 5px 0;
  display: block;
}

.emailInputLabel {
  display: none;
}

.emailInput {
  width: 250px;
  height: 43px;
  margin:0 10px 0 0;
}

.adminPanel {
  /* display: flex; */
}

.editNameWrapper {
  margin-bottom: 15px;
}

.editNameInput {
  width: 300px;
}

.profileParagraph {
  margin: 5px 0;
  padding: 0;
  color: var(--third-color);
}
