.profileWrapper p {
  color: var(--titles-color);
  margin-bottom: 15px;
}

.profileWrapper {
  background-color: var(--content-color);
  padding: 10px 20px;
  min-height: calc(100vh - 118px);
}

.profileButtons {
  border-radius: 0;
  color: var(--content-color);
  background-color: var(--titles-color);
  text-transform: uppercase;
  font-family: var(--titles-font);
  font-size: 21px;
  margin-bottom: 15px;
}

.addAdminButton {
  border-radius: 0;
  color: var(--content-color);
  background-color: var(--titles-color);
  text-transform: uppercase;
  font-family: var(--titles-font);
  font-size: 21px;
}

.emailInputLabel {
  display: none;
}

.emailInput {
  width: 250px;
  height: 43px;
  margin:0 10px 0 0;
}

.adminPanel {
  display: flex
}

.editNameWrapper {
  margin-bottom: 15px;
}

.editNameInput {
  width: 300px;
}
