.gameBlock {
  --footer-content-height: 20px;
  border: none;
  text-align: center;
  margin: 0 5px 5px 0;
  min-width: 150px;
  max-width: 250px;
  outline: none;
  padding: 5px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.game-block {
  border: none;
  text-align: center;
  outline: none;
  padding: 5px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.game-block:not(:last-child) {
  margin-bottom: 7px;
}

.gameBlock:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gameBlock:active {
  outline: none;
}

.gameBlock:focus {
  outline: none;
}

.game-block:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.game-block:active {
  outline: none;
}

.game-block:focus {
  outline: none;
}

.gameName {
  min-height: 48px;
  display: block;
  font-size: 17px;
  font-weight: 700;
  color: var(--first-color);
}

.game-name {
  font-size: 17px;
  font-weight: 700;
  color: var(--first-color);
  text-align: left;
}

.releaseDate {
  line-height: var(--footer-content-height);
  padding: 0 2px;
  margin-right: 5px;
  font-size: 17px;
  font-weight: 500;
  color: var(--first-color);
}

.gameBlockContent {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.game-block-mini {
  display: flex;
}

.platformsBlock {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.platformIcon {
  height: 25px;
}

.mini-block-icon {
  margin-left: 5px;
}

.game-block-platform:not(:last-child) {
  margin-right: 5px;
}

.gameBlockFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardWrapper {
  display: flex;
}

.cardWrapper #modalWarning {
  padding-right: 0 !important;
}

.gameBlock_alice-blue {
  background-color: var(--color-alice-blue);
}

.gameBlock_madang {
  background-color: var(--color-madang);
}

.gameBlock_witch-haze {
  background-color: var(--color-witch-haze);
}

.gameBlock_malibu {
  background-color: var(--color-malibu);
}

.gameBlock_blue-chalk {
  background-color: var(--color-blue-chalk);
}

.gameBlock_orchid-white {
  background-color: var(--color-orchid-white);
}

.gameBlock_cape-honey {
  background-color: var(--color-cape-honey);
}

@media (max-width: 450px) {
  .gameBlock {
    --footer-content-height: 20px;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
  }

  .releaseDate {
    display: none;
  }

  .platformsBlock {
    justify-content: center;
  }
}
