.actionButtons {
  display: flex;
}

.actionButtons .btn {
  margin-bottom: 2px;
}

.editListDiv {
  padding-top: 10px;
}

.editListInput, .addListInput {
  width: 50%;
}

.listName {
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
}

.addListInput {
  margin-top: 10px;
}

.listPositionPicker {
  width: 60px;
  height: 35px;
  margin-left: 4px;
  background-color: var(--second-color);
}

.listWrapper {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionButtons .btn {
  padding: 0;
  width: 30px;
  margin-right: 10px;
  background-color: var(--first-color);
}

.actionButtons {
  margin-right: 20px;
}

.editIcon {
  height: 35px;
}

.editIcon:hover {
  opacity: 0.8;
}

@media (max-width: 1050px) {
  .listWrapper {
    display: none;
  }
}

@media (max-width: 1050px) {
  .actionButtons {
    flex-wrap: wrap;
  }
}
