.actionButtons {
  display: flex;
}

.actionButtons .btn {
  margin-bottom: 2px;
}

.editListDiv {
  padding-top: 10px;
}

.editListInput, .addListInput {
  width: 50%;
}

.addListInput {
  margin-top: 10px;
}

.listPositionPicker {
  width: 100px;
}

@media (max-width: 1050px) {
  .actionButtons {
    flex-wrap: wrap;
  }
}
