.listNameEditWrapper {
  padding-bottom: 16px;
}

.warningWrapper {
  padding-left: 16px;
  padding-bottom: 16px;
}

.editListModalWindowButton {
  margin-right: 10px;
}
.warning {
  color: var(--color-sunset-orange);
  margin: 0;
}

.editButtonsWrapper {
  padding-top: 10px;
}
