.listNameEditWrapper {
  padding-bottom: 16px;
}

.warningWrapper {
  padding-left: 16px;
}

.editListModalWindowButton {
  margin-right: 10px;
}
.warning {
  color: var(--color-sunset-orange);
  margin: 0;
  padding: 5px 0 0 0;
}

.buttonsWrapper {
  padding-top: 10px;
}
