.add-list-modal .modal-content {
  border-radius: 0;
  border: none;
  background: #fef9de;
}

.add-list-header {
  border-bottom: none !important;
  padding: 16px 16px 0 16px !important;
}

.warningWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.warning {
  color: #0079c5;
  font-weight: 300;
}

.name-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons-wrapper {
  justify-content: center;
  align-items: center;
}

.addListTextarea {
  outline: none;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #0079c5;
  background: var(--third-color);
  color: #0079c5;
  font-weight: 800;
}
