.section-options-holder {
  position: relative;
}

.section-options-button {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
}

.section-options-button:focus {
  outline: none;
}

.section-options-button:active {
  outline: none;
}

.section-settings-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.sectionName {
  font-weight: 800;
  font-size: 25px;
  color: var(--third-color);
}

.nameAndButtonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-section {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin: 5px 0 0 0;
}

.sectionEditIcon:hover {
  opacity: 0.8;
}

@media (max-width: 575px) {
  .nameAndButtonsWrapper {
    text-align: center;
  }

  .sectionActions {
    justify-content: center;
  }

  .inner-section {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .inner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
