.sectionEditIcon.toggleButton {
  transform: rotate(90deg);
  transition: all 1s;
}

.sectionName {
  font-weight: 800;
  font-size: 25px;
  color: var(--third-color);
}

.sectionActionButtonsVisible .sectionEditIcon.toggleButton {
  transform: rotate(-90deg);
}

.sectionActionButtons {
  display: flex;
  margin-left: 20px;
  overflow: hidden;
  width: 35px;
  transition: width 1s;
}

.sectionActionButtonsVisible {
  width: 224px;
}

.sectionActionButtons .btn {
  padding: 0;
  width: 30px;
  background-color: var(--first-color);
  border: 0;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
}

.sectionActionButtons .btn:first-child {
  margin-right: 0;
}

.sectionActionButtons .btn:nth-child(2) {
  margin-left: 5px;
}

.nameAndButtonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.sectionActions {
  display: flex;
}

.editSectionInput {
  background-color: var(--first-color) !important;
  border: none;
  color: var(--third-color) !important;
  font-size: 40px;
  font-family: var(--main-font);
  padding: 0 0 0 10px;
  resize: none;
}

.editSectionInput:focus {
  box-shadow:none !important;
  color: var(--third-color) !important;
}

.sectionEditButtons {
  margin-left: 10px;
}

.sectionEditButtons button {
  margin-right: 10px;
}

.editSectionDiv {
  padding-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 99%;
}

.sectionPositionPicker {
  width: 60px;
  height: 35px;
  margin-left: 4px;
  background-color: var(--third-color);
}

.inner-section {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin: 5px 0 0 0;
}

.addGameBlockDiv {
  margin-top: 8px;
  margin-left: 8px;
}

.cancelAddBlockBtn {
   width: 118px;
}

.sectionEditIcon:hover {
  opacity: 0.8;
}

.sectionEditIcon {
  height: 35px;
}

@media (max-width: 1050px) {
  .editSectionInput {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .nameAndButtonsWrapper {
    text-align: center;
    display: block;
  }

  .sectionActions {
    justify-content: center;
  }

  .inner-section {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .inner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-right: 10px;
  }
}
