.color_alice-blue {
  background-color: var(--color-alice-blue);
}

.color_madang {
  background-color: var(--color-madang);
}

.color_witch-haze {
  background-color: var(--color-witch-haze);
}

.color_malibu {
  background-color: var(--color-malibu);
}

.color_blue-chalk {
  background-color: var(--color-blue-chalk);
}

.color_orchid-white {
  background-color: var(--color-orchid-white);
}

.color_cape-honey {
  background-color: var(--color-cape-honey);
}

.colorsSpan {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 25px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 1px 7px 0 7px;
}

.colorsSpan:hover {
  border: 2px solid #0079c5;
}

.colorsContainer {
  overflow: hidden;
}
