.color_alice-blue {
  background-color: var(--color-alice-blue);
}

.color_madang {
  background-color: var(--color-madang);
}

.color_witch-haze {
  background-color: var(--color-witch-haze);
}

.color_malibu {
  background-color: var(--color-malibu);
}

.color_blue-chalk {
  background-color: var(--color-blue-chalk);
}

.color_orchid-white {
  background-color: var(--color-orchid-white);
}

.color_cape-honey {
  background-color: var(--color-cape-honey);
}

.colorsSpan {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 5px;
}

.colorsSpan:hover {
  border: 2px solid black;
}

.colorsContainer {
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
