.color_air-force-blue {
  background-color: var(--color-air-force-blue);
}

.color_alice-blue {
  background-color: var(--color-alice-blue);
}

.color_wistful {
  background-color: var(--color-wistful);
}

.color_ce-soir {
  background-color: var(--color-ce-soir);
}

.color_vivid-tangerine {
  background-color: var(--color-vivid-tangerine);
}

.color_sunset-orange {
  background-color: var(--color-sunset-orange);
}

.color_madang {
  background-color: var(--color-madang);
}

.color_emerald {
  background-color: var(--color-emerald);
}

.color_witch-haze {
  background-color: var(--color-witch-haze);
}

.color_yellow {
  background-color: var(--color-yellow);
}

.color_california {
  background-color: var(--color-california);
}

.color_burnt-orange {
  background-color: var(--color-burnt-orange);
}

.colorsSpan {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
}

.colorsSpan:hover {
  border: 2px solid black;
}

.colorsContainer {
  overflow: hidden;
}
