.search-input {
  border: none;
  outline: none;
  background: var(--second-color);
  padding-left: 5px;
  color: var(--first-color);
  font-weight: 800;
  resize: none;
  width: 400px;
}

.search-panel-wrapper {
  position: relative;
  display: flex;
}

.search-matrix {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  background: #fef9de;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-input:active {
  outline: none;
}

@media (max-width: 800px) {
  .search-input {
    width: 190px;
  }
}

@media (max-width: 580px) {
  .search-panel-wrapper {
    margin: 5px 0;
  }
}
