.search-panel-wrapper {
  position: relative;
  display: flex;
}

.search-matrix {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  background: #fef9de;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
  width: 100%;
}

.search-result-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 580px) {
  .search-panel-wrapper {
    margin: 5px 0;
  }
}
