.search-input {
  margin: 0;
  border: none;
  background: inherit;
  outline: none;
  background: var(--second-color);
  padding-left: 5px;
  color: var(--first-color);
  font-weight: 800;
  resize: none;
}

.searchMatrix {
  display: flex;
  flex-wrap: wrap;
}

.search-panel-wrapper {
  background: #fef9de;
  padding: 10px;
  margin-bottom: 10px;
}

.search-input:focus {
  outline: none;
}

.search-input:active {
  outline: none;
}

.card-body {
  background-color: var(--third-color);
}

.searchModeSelector {
  margin-bottom: 5px;
}

.testHeader {
  color: black;
  width: 100%;
  text-align: center;
}

.searchButton {
  margin: 0 auto 10px;
  padding: 0;
  background-color: var(--first-color);
  border: none;
  display: block;
  cursor: pointer;
  outline: none;
}

.searchButton:hover, .searchButton:focus, .searchButton:active {
  background-color: var(--first-color);
  outline: none;
}

.card {
  border-radius: 0;
}

.foundText {
  display: none;
  margin: 0 0 2px 0;
  color: var(--first-color);
  padding: 0;
}

.foundTextVisible {
  display: block;
}
