.modalBody {
  padding-left: 18px;
}

.modal-header {
  padding-bottom: 10px;
}

.signupInput {
  margin-right: 10px;
}

.signupFormButton {
  margin: 10px 10px 0 0;
}

.signupErrorText {
  color: #dc3545;
  margin: 10px 0;
}

.policyButton {
  margin: 0;
  background: darkgray;
}

.requiredText {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

#signupForm {
  margin-right: 16px;
}

.signUpLabel {
  margin: 0;
}

.signupInput {
  background-color: var(--third-color);
  color: #000000;
  border-radius: 0;
}
