.modalBody {
  padding-left: 18px;
}

.modal-header {
  padding-bottom: 10px;
}

.signupInput {
  margin-right: 10px;
}

.requiredText {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

#signupForm {
  margin-right: 16px;
}

.signUpLabel {
  margin: 0;
}

.signupInput {
  background-color: var(--third-color);
  color: #000000;
  border-radius: 0;
}

.signupInput {
  background-color: var(--third-color);
  color: #000000;
  border-radius: 0;
}

.signupInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

.signupInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

.signupInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}

.policyButton:hover {
  text-decoration: none;
  color: var(--third-color);
}
