.modalBody {
  padding-left: 18px;
}

.signupInput {
  margin-right: 10px;
}

.signupButton {
  margin-top: 5px;
}

.errorText {
  color: var(--color-sunset-orange);
  margin-top: 10px;
}

.requiredText {
  color: #000000;
  margin-top: 10px;
}
