.gk-add-button {
    border: none;
    width: fit-content;
    background: var(--rework-color-brown);
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    transition: .3s all;
}

.gk-add-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gk-add-button:active {
    outline: none;
}

.gk-add-button:focus {
    outline: none;
}

.gk-add-button-game {
    color: #000000;
    border-radius: 20px;
    background: #dbd2d2;
    padding: 5px 8px;
    font-weight: 400;
    padding: 5px 13px;
}

.gk-add-button-game-hidden {
    width: 114px;
}

.gk-add-button-list {
    width: 100%;
    padding: 5px 10px;
    font-size: 19px;
    border-radius: 20px;
}

.gk-add-button-dashboard {
    font-size: 19px;
    max-height: 48px;
}

@media (max-width: 450px) {
    .gk-add-button-game {
        margin: 0;
    }

    .gk-add-button-game {
        min-width: 100%;
    }
}

@media (max-width: 650px) {
    .gk-add-button-list {
        display: none;
    }
}