.loginInput {
  margin-right: 10px;
}

.loginFormButton {
  margin: 10px 10px 0 0;
}

.errorText {
  color: #dc3545;
  margin: 10px 0;
}

.loginLabel {
  margin: 0;
}

#loginForm {
  margin-right: 16px;
}

.loginInput {
  background-color: var(--third-color);
  color: #000000;
  border-radius: 0;
}

.loginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

.loginInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

.loginInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}
