.modalBody {
  padding-left: 18px;
}

.loginInput {
  margin-right: 10px;
}

.loginButton {
  margin: 0 5px 0 0;
}

.cancelButton {
  margin: 0 5px 0 0;
}

.errorText {
  color: var(--color-sunset-orange);
  margin-top: 10px;
}
