.logoHolder {
  display: flex;
  align-items: center;
}

.logoHolderFake {
  padding: 13.5px 0;
}

.logoLink {
  font-size: 19px;
  font-weight: 800;
  outline: none !important;
  font-family: var(--main-font);
  background-color: var(--third-color);
  color: var(--first-color);
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: fit-content;
  text-decoration: none;
}

.logoLink:hover {
  text-decoration: none;
  color: var(--first-color);
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
  min-height: 55px;
  align-items: center;
}

.ultimateHeaderWrapper {
  position: relative;
  z-index: 5;
  padding: 0 10px;
  background: var(--third-color);
  display: flex;
}

.signPanelWrapper {
  display: flex;
}

.altButtonsWrapper {
  display: none;
}

.authButtonWrapper:nth-child(2n+1) {
  margin: 10px 10px 10px 0;
}

.authButtonWrapper:nth-child(2n) {
  margin: 10px 0;
}

.header-link:hover {
  text-decoration: none;
}

@media (max-width: 580px) {
  .headerWrapper {
    justify-content: space-between;
  }

  .signPanelWrapper {
    display: none;
  }

  .altButtonsWrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    margin-left: 10px;
  }

  .alt-buttons-inner-wrapper {
    display: flex;
    flex-direction: row;
  }

  .authButtonWrapper:nth-child(2n+1) {
    margin: 5px 10px 10px 0;
  }

  .authButtonWrapper:nth-child(2n) {
    margin: 5px 0 10px 0;
  }
}
