.logoHolder {
  display: flex;
  align-items: center;
}

.logoHolderFake {
  padding: 13.5px 0;
}

.logoLink {
  font-size: 19px;
  font-weight: 800;
  outline: none !important;
  font-family: var(--main-font);
  background-color: var(--third-color);
  color: var(--first-color);
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: fit-content;
  text-decoration: none;
}

.logoLink:hover {
  text-decoration: none;
  color: var(--first-color);
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
}

.ultimateHeaderWrapper {
  position: relative;
  z-index: 5;
  padding: 0 10px;
}

.signPanelWrapper {
  display: flex;
}

.profileButtonAlt {
  background-color: var(--first-color);
  color: var(--third-color);
  border-radius: 0;
  font-family: var(--main-font);
  margin: 0;
  padding: 5px;
  display: none;
  width: 100%;
}

.authIcon {
  height: 25px;
  margin-left: 5px;
}

.authIconAlt {
  height: 25px;
}

.altButtonsWrapper {
  display: none;
}

.authButtonWrapper:nth-child(2n+1) {
  margin: 10px 10px 10px 0;
}

.authButtonWrapper:nth-child(2n) {
  margin: 10px 0;
}

.profileButton {
  background-color: var(--first-color);
  color: var(--third-color);
  border-radius: 0;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: var(--main-font);
  font-size: 19px;
  font-weight: 700;
  padding: 5px;
  line-height: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profileButton:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  outline: none;
}

.profileButton:focus {
  outline: none;
}

@media (max-width: 1050px) {
  .profileButtonAlt {
    display: block;
  }

  .ultimateHeaderWrapper {
    box-shadow: none;
  }
}

@media (max-width: 580px) {
  .headerWrapper {
    justify-content: center;
  }

  .signPanelWrapper {
    display: none;
  }

  .altButtonsWrapper {
    display: flex;
    justify-content: center;
  }

  .authButtonWrapper:nth-child(2n+1) {
    margin: 5px 10px 10px 0;
  }

  .authButtonWrapper:nth-child(2n) {
    margin: 5px 0 10px 0;
  }
}
