.btnAddGame {
  border-radius: 0;
  margin: 0px 1px 1px 0;
}

.btnAddGame:hover {
  opacity: 0.8;
}

.editSectionInput {
  width: 50%;
}

.editSectionDiv {
  margin-top: 10px;
}

.inner-section {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin-top: 10px;
}

.addGameBlockDiv {
  margin-top: 8px;
  margin-left: 8px;
}

.cancelAddBlockBtn {
    width: 118px;
}
