.dashboardWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100%;
  min-height: calc(100vh - var(--content-gap));
  align-items: center;
}

.lists-dashboard-wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-elements {
  align-items: center;
}
