.dashboardWrapper {
  background-color: var(--nav-color);
  min-height: calc(100vh - 110px);
  width: 100%;
}

.dashboard {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.listsMatrix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.btnAddListFromDashboard {
  font-family: var(--titles-font);
  border-radius: 0;
  background-color: var(--add-list-color);
  font-size: 41px;
  color: rgba(0, 121, 197, 1);
  padding: 0;
  margin: 0;
  height: 200px;
}

.btnAddListFromDashboard:hover {
  opacity: 0.8;
}

@media (max-width: 1300px) {
  .listsMatrix {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btnAddListFromDashboard {
    height: 150px;
  }
}

@media (max-width: 1050px) {
  .dashboardWrapper {
    min-height: calc(100vh - 94px);
  }
}

@media (max-width: 990px) {
  .listsMatrix {
    grid-template-columns: 1fr 1fr;
  }

  .btnAddListFromDashboard {
    height: 81px;
  }
}

@media (max-width: 630px) {
  .listsMatrix {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .dashboardWrapper {
    min-height: calc(100vh - 74px);
  }
}
