.dashboard {
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
}

.dashboardText {
  color: black;
}

.dashboardImageContainer {
  margin-bottom: 10px;
}

.dashboardImage {
  width: 100%;
  max-width: 480px;
  height: auto;
}
