.footerWrapper {
  background-color: var(--footer-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shareIconsWrapper a {
  color: var(--content-color);
  font-size: 33px;
  margin-right: 10px;
}

.footerWrapper span {
  text-transform: uppercase;
}

.saveButton {
  background-color: inherit;
  margin: 0px;
  padding: 0px;
}

.saveIcon {
  font-size: 33px;
  color: var(--content-color);
  margin-right: 10px;
}

.saveIconsWrapper {
  margin-left: 10px;
}

@media (max-width: 450px) {
  .shareIconsWrapper {
    display: none;
  }

  .saveIconsWrapper {
    display: none;
  }

  .footerWrapper {
    justify-content: center;
    padding-top: 5px;
  }
}
