.footerWrapper {
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saveButton {
  background-color: inherit;
  padding: 0px;
  margin-right: 15px;
}

.saveIcon {
  height: 35px;
}

.shareIcon {
  height: 35px;
}

.shareIcons-a {
  margin-left: 15px;
}

.saveIconsWrapper {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shareIconsWrapper {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright {
  color: var(--first-color);
  text-transform: uppercase;
  font-family: var(--titles-font);
  font-size: 30px;
}

.copyright:hover, .copyright:focus {
  color: var(--first-color);
}

@media (max-width: 450px) {

  .saveListsButton {
    display: none;
  }

  .shareLinkedinButton {
    display: none;
  }
}
