.suggestedWrapper p {
  color: var(--titles-color);
}

.suggestedWrapper {
  background-color: var(--content-color);
  padding: 10px 20px;
  min-height: calc(100vh - 118px);
}

.blocksWrapper {
  display: flex;
  flex-wrap: wrap;
}

.developersBlock {
  background-color: var(--titles-color);
  color: var(--content-color);
  margin: 0 5px 5px 0;
  text-transform: uppercase;
  font-family: var(--titles-font);
  font-size: 25px;
  padding: 0 5px;
}

.actionIcon {
  height: 25px;
}

.actionButton {
  margin: 0 0 0 5px;;
  padding: 0;
  background-color: var(--titles-color);
}
