.list-settings-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.list-options-holder {
  position: relative;
}

.list-options-button {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  transition: all 2s;
}

.list-options-button:focus {
  outline: none;
}

.list-options-button:active {
  outline: none;
}

.list-options-button:hover {
  transform: rotate(180deg);
}

.listName {
  text-overflow: ellipsis;
  font-weight: 800;
  font-size: 30px;
  color: var(--second-color);
  margin-right: 5px;
}

.listWrapper {
  display: flex;
  align-items: center;
}
