.listsEditIcon.toggleButton {
  transform: rotate(90deg);
  transition: all 1s;
}

.listActionButtonsVisible .listsEditIcon.toggleButton {
  transform: rotate(-90deg);
}

.listActionButtons {
  display: flex;
  margin-right: 20px;
  overflow: hidden;
  width: 35px;
  transition: width 1s;
}

.listActionButtonsVisible {
  width: 224px;
}

.listActionButtons .btn {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 30px;
  margin-right: 10px;
  background-color: var(--first-color);
}

.listActionButtons .btn:first-child {
  margin-right: 0;
}

.listActionButtons .btn:nth-child(2) {
  margin-left: 5px;
}

.editListDiv {
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 99%;
  padding-bottom: 15px;
}

.editListInput {
  background-color: var(--first-color) !important;
  border: none;
  color: var(--second-color) !important;
  padding: 0 0 0 10px;
  resize: none;
  font-size: 55px;
  font-family: var(--main-font);
}

.editListInput:focus {
  box-shadow:none !important;
}

.listEditButtons {
  margin-left: 10px;
}

.listEditButtons button {
  margin-right: 10px;
}

.listName {
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1;
  font-weight: 800;
}

.addSectionInput {
  background-color: var(--first-color) !important;
  border: none;
  color: var(--third-color) !important;
  font-size: 40px;
  font-family: var(--main-font);
  padding: 0 0 0 10px;
  resize: none;
}

.addSectionInput::placeholder {
  color: var(--third-color);
}

.addSectionInput:-ms-input-placeholder {
  color: var(--third-color);
}

.addSectionInput::-webkit-input-placeholder {
  color: var(--third-color);
}

.addSectionWrapper {
  margin-top: 10px;
  padding-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 99%;
}

.sectionAddButtons {
  margin-left: 10px;
}

.sectionAddButtons button {
  margin-right: 10px;
}

.addSectionInput:focus {
  box-shadow:none !important;
}

.listPositionPicker {
  width: 60px;
  height: 35px;
  margin: 0 0 0 4px;
  background-color: var(--second-color);
}

.listWrapper {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listsEditIcon {
  height: 35px;
}

.editIlistsEditIconcon:hover {
  opacity: 0.8;
}

@media (max-width: 576px) {
  .listName, .editListInput {
    font-size: 45px;
  }

  .listWrapper {
    display: block;
    text-align: center;
  }

  .listActionButtons {
    justify-content: flex-start;
    margin: 0 auto;
  }
}
