* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  padding: 0;
  margin: 0;
}

input {
  margin-top: 50px;
  margin-right: 20px;
  padding: 5px;
  font-size: 2rem;
}

.platformsBlock {
  display: flex;
  justify-content: flex-end;
}

.platforms {
  padding: 2px;
  background-color: grey;
  color: white;
}

.submitButtons {
  padding: 5px;
}

.appDiv {
  display: flex;
}

nav {
  width: 200px;
  height: 100vh;
}

img {
  width: 200px;
}

.all-content {
  padding-left: 20px;
  flex: 1;
}

ul {
  list-style: none;
}

h1 {
  font-size: 55px;
  font-family: 'Luckiest Guy', cursive;
}

header {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}

h2 {
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
}

.all-content {
  height: 100vh;
  overflow: auto;
}

.game-block {
  border: 0px solid black;
  /*border-radius: 20px;*/
  text-align: center;
  padding: 10px;
  margin: 1px 2px 1px 0;
  min-width: 150px;
  max-width: 250px;
  min-height: 85px;
}

.game-block_orange {
  background-color: rgba(255, 159, 26, 1);
}

.game-block_orange:hover {
  background-color: rgba(255, 159, 26, 0.5);
}

.game-block_green {
  background-color: rgba(97, 189, 79, 1);
}

.game-block_green:hover {
  background-color: rgba(97, 189, 79, 0.5);
}

.game-block_yellow {
  background-color: rgba(242, 214, 0, 1);
}

.game-block_yellow:hover {
  background-color: rgba(242, 214, 0, 0.5);
}

.game-block_blue {
  background-color: rgba(0, 194, 224, 1);
}

.game-block_blue:hover {
  background-color: rgba(0, 194, 224, 0.5);
}

.game-block_red {
  background-color: rgba(235, 90, 70, 1);
}

.game-block_red:hover {
  background-color: rgba(235, 90, 70, 0.5);
}

.inner-section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  clear: both;
}
