* {
    box-sizing: border-box;
    /*Section Colors*/
    --color-alice-blue: rgba(228, 241, 254, 1);
    --color-malibu: rgba(107, 185, 240, 1);
    --color-blue-chalk: rgba(241, 231, 254, 1);
    --color-madang: rgba(200, 247, 197, 1);
    --color-witch-haze: rgba(255, 246, 143, 1);
    --color-orchid-white: rgba(240, 240, 214, 1);
    --color-cape-honey: rgba(253, 227, 167, 1);

    /*Fonts*/
    --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    /*Main Colors*/
    --first-color: rgba(0, 121, 197, 1);
    --second-color: rgba(255, 246, 143, 1);
    --third-color: rgba(255, 249, 222, 1);
    --content-gap: 55px;
}

body {
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
  background-color: var(--third-color);
}

.lt-row {
    display: flex;
    flex-flow: row;
}

.lt-col {
    display: flex;
    flex-flow: column;
}

.appWrappaer {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-right: 3px;
  padding: 5px;
}

input {
  margin-bottom: 3px;
}

.contentWrapper {
  display: flex;
  /*padding-top: 5px;*/
  position: relative;
  align-items: flex-start;
  background-color: var(--first-color);
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.allContent {
  padding: 0 0 20px 10px;
  flex: 1;
  min-height: calc(100vh - var(--content-gap));
  max-width: calc(100% - 220px);
  background-color: var(--first-color);
}

ul {
  list-style: none;
}

h2, p {
  color: var(--third-color);
}

h1 {
  color: var(--second-color);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

h1 {
  font-size: 41px;
  font-family: var(--main-font);
    font-weight: 800;
}

h2 {
  font-size: 30px;
  font-family: var(--main-font);
}

@media (max-width: 1050px) {
  .contentWrapper {
    display: block;
    height: auto;
  }

  .allContent{
    height: auto;
    overflow: auto;
    max-width: 100%;
  }

  h2 {
    font-size: 30px;
  }
}
