.alert-modal .modal-content {
  border-radius: 0;
  border: none;
  background: #fef9de;
}

.title-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.message-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.title {
  color: #0079c5;
  font-weight: 800;
}

.alert-message {
  color: #747474;
  font-weight: 700;
}

.alert-buttons-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}