#navbar {
  width: 220px;
  height: 100vh;
  position: relative;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--nav-background-color);
}

.navButton {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

.cancelAddListBtn {
  width: 93px;
}

.navButtonActive {
  background-color: var(--nav-background-color);
  color: #fff;
}

.downloadData {
  position: absolute;
  bottom: 10px;
}

.downloadImg {
  transition: all .3s;
  width: 80%;
}

.downloadImg:hover {
  width: 100%;
}

.addListBtn {
  width: 100%;
}
