#navbar {
  width: 220px;
  height: 100vh;
  position: relative;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--nav-background-color);
}

.navButton {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

.navButtonActive {
  background-color: var(--nav-background-color);
  color: #fff;
}

.downloadData {
  position: absolute;
  bottom: 10px;
}

.downloadImg {
  transition: all .3s;
  width: 80%;
}

.downloadImg:hover {
  width: 100%;
}

.nameAndButton {
  display: flex;
  justify-content: space-between;

}

.hideNavButton {
  display: none;
}

@media (max-width: 1050px) {
  #navbar {
    height: auto;
    width: auto;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .downloadImg {
    display: none;
  }

  .hideNavButton {
    display: block;
    margin: 5px;
  }

  .navBar {
    height: 0px;
    overflow: hidden;
    transition: height .5s;
  }

  .navBarVisible {
    overflow: auto;
    height: calc(100vh - 51px);
  }
}
