.classNavbar {
  width: 220px;
  height: 100vh;
  position: relative;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--nav-color);
  z-index: 101;
}

.logoButton {
  font-family: var(--titles-font);
  background-color: inherit;
  width: 100%;
  color: var(--titles-color);
  font-size: 30px;
  padding: 0;
  margin: 5px 0;
  border: none;
  cursor: pointer;
}

.inputBit button {
  width: 50%;
  margin: 0;
  border-radius: 0;
}

.inputBit input {
  border-radius: 0;
}

.navButton {
  font-family: var(--titles-font);
  color: rgba(0, 121, 197, 1);
  display: block;
  width: 100%;
  margin-bottom: 4px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: var(--list-color);
  font-size: 28px;
}

.navButton:hover {
  color: rgba(0, 121, 197, 1);
  background-color: var(--list-color);
  opacity: 0.8;
}

.btnAddList {
  font-family: var(--titles-font);
  width: 100%;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 0;
  color: rgba(0, 121, 197, 1);
  font-size: 28px;
  background-color: var(--add-list-color);
  border: none;
}

.btnAddList:hover {
  background-color: var(--add-list-color);
  opacity: 0.8;
}

.navButtonActive {
  opacity: 0.8;
}

.downloadData {
  position: absolute;
  bottom: 10px;
}

.downloadImg {
  transition: all .3s;
  width: 80%;
}

.downloadImg:hover {
  width: 100%;
}

.nameAndButton {
  display: flex;
  justify-content: space-between;

}

.hideNavButton {
  display: none;
}

@media (max-width: 1050px) {
  .classNavbar {
    height: auto;
    width: auto;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .downloadImg {
    display: none;
  }

  .hideNavButton {
    display: block;
    margin: 5px;
  }

  .navBar {
    height: 0px;
    overflow: hidden;
    transition: height .5s;
  }

  .navBarVisible {
    overflow: auto;
    height: calc(100vh - 51px);
  }
}
